*{
    color: white;
    font-size: 30px;
}
.hide{
    display: none;
}
section{
  align-items: center;
}
form
{

    text-align: center;
    align-items: center;
}
#link{
    text-align: center;
    align-items: center;
}
p{
    font-size: 20px;
    text-align: center;
}
button{
    padding: 2px;
    background-color: green;
    border-radius: 20px;
    text-align: center;
}
input{
    border-radius: 30px;
    width: 70vw;
   
    font-size: 20px;
    text-align: center; 
    color: black;
}
h3{
    font-weight: bolder;
    border-bottom: 5px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgb(78, 124, 124);
}
#final{
    border-radius: 40px;
    border-style: double;
    border-color: rgb(255, 255, 255);
    text-align: center;
}
.sec-msg{
    align-items: center;
    margin-left: 200px;
}
  
div#foot {
font-size: 15px;
  position: absolute;
  bottom: 10px;
}
